body{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 0px;
}
body p{
    font-size: 20px;
    color: dimgray;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 40px;
}

.half-width h3{
    line-height: 2%;
}
.name{
    color: rgb(233, 88, 83);
}
.link-button{
    color: white;
    padding: 6px 20px 6px 20px;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 700;
    background-image: linear-gradient(45deg, rgb(170, 90, 143), rgb(112, 19, 112));
    
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 65%;
    padding-left: 50px;
}
.top-banner{
    background-image: url("header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    height: 500px;
    padding-bottom: 5px;
}
.middle-banner{
    background-image: url("biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.latest-work-banner{
    background-image: url("latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.latest-work h2{
    text-align: center;
    font-weight: bolder;
    padding-bottom: 30px;
}
#work-1,#work-2,#work-3{
    width: 25%;
    margin-left: 6%;
}
.work-image{
    float: left;

}
.client-say{
    text-align: center;
    background-image: url("footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}    
.client-say h1{
    font-size: 40px;
}
.client-say p{
    line-height: 28px;
}
.review{
    
    margin: 4% 25% 4% 25%;
    
}
.email{
    background-color: rgb(197, 36, 116);
    color: white;
    margin: 2% 37% 2% 37%;
    padding: 1px 8px 1px 8px;
    border-radius: 5px;

}
.email p{
    font-size: medium;
    line-height: 5px;
}
footer{
    font-size: small;
    padding-top: 80px;
    padding-bottom: 20px;
}